<!DOCTYPE html>
<html>
    <body>
        <h1>Send Email</h1>
        <form action="/email/send" method="post">
            <input name = 'email' type="email" placeholder="To  : "/>
            <input name = 'emailSub' type="text" placeholder="Subject "/>
            <input name = 'emailText' type="text" placeholder="text "/>
            <input name = 'file' type="file" />
            
            <button type="submit">submit</button></form><br/>
        </form>

       
    </body>
</html>